{% extends 'base.html' %}
{% load static %}



{% block seotag %}
    <title>Tiered access app example</title>
    <meta name="description" content="Sample app for tiered levels of access">
    <meta name="keywords" content="PwnSauceDesigns.com, tier, level, levels, access">
    <meta name="author" content="PwnSauceDesigns.com">
    <meta name="robots" content="index,imageindex,follow,archive">

    <meta property="og:title" content="PwnSauceDesigns.com Tiered access app Page.">
    <meta property="og:description" content="Sample app for tiered levels of access.">
    <meta property="og:type" content="website">
    <meta property="og:url" content="http://www.PwnSauceDesigns.com/tiered_access_app/">
    <meta property="og:image" content="">  <!-- image url for facebook shares. -->
{% endblock seotag %}



{% block maincontent %}
  <h1><strong>Tiered access app example:</strong></h1>


  {% if messages %}
    <h2 class="margintop100px springgreen special_message_glow">
      {% for message in messages %}
        {{ message }}
      {% endfor %}
    </h2>
  {% endif %}


  <h2 style="font-size: 1.5em; margin-top: 100px;"><u>STEP 1:</u></h2>
  <p>The following is an example showing I can create tiered levels of access. The first thing I want you to do is <a href="{% url 'tiered_access_app:check_tier_level' %}">check your access level.</a> Notice how
      it goes to the url <em>.../tiered_access_app/check_tier_level/.</em></p>



  <form class="margintop100px" action="{% url 'tiered_access_app:gain_access' %}" method="POST">
    {% csrf_token %}
    <label><u>STEP 2:</u></label>
    <p>Now I want you to click the button below to give you access and enable level 1. This will let you be able to to download a dynamic csv file based on replies you've put on <a href="{% url 'forum_app:category_list' %}">the
      forum.</a> If you haven't made any replies yet, you'll get a white page telling you to do so.</p>
    <input type="hidden" value='1' name="tier_level">
    <input type="submit" value="Enable level 1" class="submitbox">
  </form>


  <form class="margintop100px" action="{% url 'tiered_access_app:gain_access' %}" method="POST">
    {% csrf_token %}
    <label><u>STEP 3:</u></label>
    <p>Now I want you to <a href="{% url 'tiered_access_app:check_tier_level' %}">check your access level again.</a> Notice how it still goes to the same url as before at <em>.../tiered_access_app/check_tier_level/</em>.
      Also notice how you're now on level 1, and how you can now download a small dynamic csv file based on all the replies you've put on the forum for this site. But if you haven't made any
      replies, you just get a response telling you to go make some. You can do that by going to <a href="{% url 'forum_app:category_list' %}">the forum</a> and making some replies. Smash your face on your
      keyboard if you must. Put some new lines and so on too. You can make topics as well, but this program is only set to get all your replies.</p>
    <input type="hidden" value='2' name="tier_level">
    <input type="submit" value="Enable level 2" class="submitbox">
  </form>


  <form class="margintop100px" action="{% url 'tiered_access_app:gain_access' %}" method="POST">
    {% csrf_token %}
    <label><u>STEP 4:</u></label>
    <p>Now, <a href="{% url 'tiered_access_app:check_tier_level' %}">check your access level again.</a> Notice how it's at the same url as before at <em>.../tiered_access_app/check_tier_level/</em>, and
      how you're now on level 2. Now you can download a much more detailed version of the csv file.</p>
    <p>After checking the link above again, click the button below to enable level 3, which will let you download a dynamic ZIP file based on all the replies you've put on the forum for this site. This ZIP file will contain
      many text files of the content of those replies, instead of everything being in a csv file. Like before, go make some replies on the <a href="{% url 'forum_app:category_list' %}">the forum</a> if you want to test this better.</p>
    <p>Once you've done that, <a href="{% url 'tiered_access_app:check_tier_level' %}">check your access level again</a> to download the file.</p>
    <input type="hidden" value='3' name="tier_level">
    <input type="submit" value="Enable level 3" class="submitbox">
  </form>


  <form class="margintop100px" action="{% url 'tiered_access_app:gain_access' %}" method="POST">
    {% csrf_token %}
    <label><u>Reset access to nothing:</u></label>
    <p>You can also reset your access to nothing. Click the button below to reset.</p>
    <p>But if you came here after enabling level 3, I suggeest you go <a href="{% url 'tiered_access_app:check_tier_level' %}">check your access level again</a> before resetting your access to nothing.</p>
    <input type="hidden" value='0' name="tier_level">
    <input type="submit" value="Reset!" class="submitbox">
  </form>



{% endblock maincontent %}
