{% extends 'base.html' %}
{% load static %}



{% block seotag %}
    <title>Tiered access app example</title>
    <meta name="description" content="Sample app for tiered levels of access">
    <meta name="keywords" content="PwnSauceDesigns.com, tier, level, levels, access, app">
    <meta name="author" content="PwnSauceDesigns.com">
    <meta name="robots" content="index,imageindex,follow,archive">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta property="og:title" content="PwnSauceDesigns.com Tiered access app Page.">
    <meta property="og:description" content="Sample app for tiered levels of access.">
    <meta property="og:type" content="website">
    <meta property="og:url" content="http://www.PwnSauceDesigns.com/tiered_access_app/">
    <meta property="og:image" content="">  <!-- image url for facebook shares. -->
{% endblock seotag %}



{% block maincontent %}
  <h1><strong>Tiered access app example:</strong></h1>

  <p>The following is an example showing I can create tiered levels of access. If you click any of the following buttons without going through the right process,
    you won't be able to view what's in it. When you get access, all you get is text saying so. Otherwise it says you don't have access to it yet.
    <mark>This example can be combined with any of the other sample apps I have.</mark></p>

  <p>After you see you're denied access to all levels without doing it properly, enable your access by starting on STEP 1. Then <mark>I suggest you
    try them from level 1 and up.</mark> Why? Because if you start on level 1, you will only have access to level 1. Level 2 will gave access to 1 and 2.
    Three gives access to them all. <mark>Reset your level to retry it if you want.</mark></p>


  {% if special_message %}
    <h2 class="margintop100px springgreen special_message_glow">
      {{ special_message }}
    </h2>
  {% endif %}


  <form class="margintop100px" action="{% url 'tiered_access_app:gain_access' %}" method="POST">
    {% csrf_token %}
    <label><u>STEP 1: Enable access</u></label>
    <p>You must first enable yourself to be able to check the following levels. Click the button below and it will redirect you back here to test it.</p>
    <input type="submit" value="Enable access" class="submitbox">
  </form>


  <form class="margintop100px" action="{% url 'tiered_access_app:gain_access' %}" method="POST">
    {% csrf_token %}
    <label><u>STEP 2: Check level 1 access</u></label>
    <p><a href="{% url 'tiered_access_app:check_tier_level' %}">Try to access level 1 first.</a> You won't be allowed unless you gain access to level 1.</p>
    <input type="hidden" value='1' name="tier_level">
    <input type="submit" value="Enable level 1" class="submitbox">
  </form>


  <form class="margintop100px" action="{% url 'tiered_access_app:gain_access' %}" method="POST">
    {% csrf_token %}
    <label><u>STEP 3: Check level 2 access</u></label>
    <p><a href="{% url 'tiered_access_app:check_tier_level' %}">Try to access level 2.</a> You won't be allowed unless you gain access to level 2.</p>
    <p>Do that and you will have access to levels 1 and 2, but not 3. Go check them both after you get access to this level.</p>
    <input type="hidden" value='2' name="tier_level">
    <input type="submit" value="Enable level 2" class="submitbox">
  </form>


  <form class="margintop100px" action="{% url 'tiered_access_app:gain_access' %}" method="POST">
    {% csrf_token %}
    <label><u>STEP 4: Check level 3 access</u></label>
    <p>Finally, <a href="{% url 'tiered_access_app:check_tier_level' %}">try to access level 3.</a> You won't be allowed unless you gain access to level 3.</p>
    <p>Then you will have access to all levels.</p>
    <input type="hidden" value='3' name="tier_level">
    <input type="submit" value="Enable level 3" class="submitbox">
  </form>


  <form class="margintop100px" action="{% url 'tiered_access_app:gain_access' %}" method="POST">
    {% csrf_token %}
    <label><u>Reset access to nothing:</u></label>
    <p>You can also reset your access to nothing. Click the button below to reset.</p>
    <input type="hidden" value='0' name="tier_level">
    <input type="submit" value="Reset!" class="submitbox">
  </form>



{% endblock maincontent %}
